<app-http-client></app-http-client>

<!--<app-switch [(ngModel)]="appState"></app-switch>-->
<!--<hr>-->
<!--<p>AppState: {{ appState }}</p>-->

<!--<app-form-global></app-form-global>-->
<!--<div class="container">-->
<!--  <h2 appStyles [dStyles]="{color: 'red'}">Hello Angular</h2>-->

<!--  <app-counter></app-counter>-->
<!--  <p>Wait promise... {{ p | async }}</p>-->
<!--  <p>Timer: {{ date$ | async | date: 'HH:mm:ss' }}</p>-->

<!--  <app-pipes></app-pipes>-->

<!--  <app-form (addCard)="addPost($event)"></app-form>-->

<!--  <app-post-filter (onInput)="filterPost($event)"></app-post-filter>-->

<!--  <div class="row">-->
<!--    <div class="col-6 mb-4" *ngFor="let post of posts | filter:query:field">-->
<!--      <app-card [post]="post" (deletePost)="deletePost($event)"></app-card>-->
<!--    </div>-->
<!--  </div>-->

<!--  <app-direct [show]="isShow"></app-direct>-->
<!--</div>-->
